@model CompraColetiva.Models.Entidades.LogOnModel

@{
    ViewBag.Title = "Logar";
}

<div id="divulgation">

    <div class="title">
        <h3>Logon.</h3>
    </div>
    <p>
        Logue com seus dados. @Html.ActionLink("Registre-se", "Register") se você não tem uma conta
    </p>

    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

    @using (Html.BeginForm()) {
        <div class="pad10">
                <div class="editor-label">
                    Usuário:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="editor-label">
                    Senha:
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="editor-label">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    Lembrar de mim?
                </div>
                <br />
                <p>
                    <input type="submit" value="Logar" />
                </p>
        </div>
    }
</div>