@model CompraColetiva.Models.Entidades.RegisterModel

@{
    ViewBag.Title = "Register";
}
<div id="divulgation">

    <div class="title">
        <h3>Crie uma conta nova</h3>
    </div>
    <p>
        Use o formulário abaixo para criar uma nova conta.
        Senhas deve ter um mínimo de @ViewBag.PasswordLength caracteres.
    </p>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "Não foi possível criar a conta.")
        <div class="pad10">
            <div class="editor-label">
                Usuário:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                Email:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="editor-label">
                Senha:
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-label">
                Confirme a senha:
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <br />
            <p>
                <input type="submit" value="Registre-se" />
            </p>
        </div>
    }
</div>